body {
    background-image: url(https://images.pexels.com/photos/34580/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container {
    background-color:ivory;

}

.container-fluid {
    background-color: ivory;
}

img {
    width: 350px;
}