body {
    /* background-image: url(https://images.pexels.com/photos/34580/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
    background-color: #c2cad0;
}

nav {
    background-color: #7e685a;
}

.fa{
    color: #afd275;
    padding-right: 5px;
}

footer{
    background-color: #7e685a;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    background-color:#c2b9b0;
    margin-top: 10px;
    margin-bottom: 20px;
}

img {
    width: 60%;
    padding: 30px;
}

.about-me {
    margin-top: 30px;
    padding: 10px;
}

.footer-text {
    color: black;
}