body {
    background-image: url(https://images.pexels.com/photos/34580/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #019EF3;
}

.fa{
    color: black;
}

footer{
    background-color: #019EF3;
}

.container {
    background-color:#A4DFFD;

}

.container-fluid {
    background-color:;
}

img {
    width: 60%;
    padding: 30px;
}

.about-contact {

}